{% extends 'base.html' %}
{% block content %}
<section class="hero is-small profile-header">
    <div class="hero-body">
      <p class="title">
        {{ profile.user }}
      </p>
      <div class="subtitle heading-sub">
        <p>Email: {{ profile.user.email }}</p>
        <p>Posts: {{ post_count }}</p>
        <p>Followers: {{ profile.followed_by.count }}</p>  
        <form action="{% url 'follow' profile.user.id %}" method="POST">
            {% csrf_token %}
            {% if not is_following %}
                <button type="submit">Follow</button>
            {% else %}
                <button type="submit">Unfollow</button>
            {% endif %}
          </form>      
        </div>
    </div>
  </section>
{% for post in posts %}
    {% include 'post_container.html' %}
{% endfor %}

  
{% endblock %}
