{% extends 'base.html' %}

{% block content %}
<container class="content-container">
<section class="nav-bar">
  <section class="profile-card">
    <p>tst</p>
    <p>dsf</p>
    <p>sdf</p>
    <p>sdfsdf</p>
  </section>
  <section class="nav">
    <ul class="nav-ul">
      <li>search</li>
      <li>your feed</li>
      <li>exploooooooore</li>
      <li>inspo</li>
      <li>log out</li>
    </ul>
  </section>
</section>
<section class="heading-section">
  <div class="heading">
    <p>your feed</p>
  </div>
</section>
<container class="main-content">
  <section class="posts-section">
    <!-- code for rendering posts -->
    <p>test</p>
  </section>
</container>
</container>
{% endblock content %}
