
<div class="card">
    <div class="card-image">
      <figure class="image is-7by5">
        <a href="{% url 'detail' post.id %}"><img src="{{ post.url }}" alt="Placeholder image"></a>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://thenounproject.com/api/private/icons/996323/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="subtitle is-3"><a href="{% url 'profile' post.user.profile.id %}">@{{post.user}}</a></p>
        </div>
      </div>
      <div class="content">
        <a href="{% url 'detail' post.id %}">{{post.title}}</a>
        <div class="dropdown-like-container">
            <div class="description_container">{{ post.description }}</div>
            <a href="{% url 'tags' tags=post.tags %}"><p>#{{ post.tags }}</p></a>
        </div>
        <br>
        <div class="dropdown-like-container">
            <form action="{% url 'like_post' post.id %}" method="POST">
                {% csrf_token %}
                {% if post.user_liked is True %}
                <button class="comment-like">
                  <span class="icon">
                    <i class="fas fa-heart" style="color: #ff0000;"></i>
                  </span>
                  <div class="likes_container">{{ post.likes }}</div>
                </button>
                {% elif post.user_liked is False %}
                <button class="comment-like">
                  <span class="icon">
                    <i class="far fa-heart" style="color: #000000;"></i>
                  </span>
                  <div class="likes_container">{{ post.likes }}</div>
                </button>
                {% endif %}
              </form>
          {% if request.user == post.user %}
              <form class="edit2" action="{% url 'post_delete' post.id %}" method="POST">
                {% csrf_token %}
                <button class="edit">Delete</button>
              </form>
              <form action="{% url 'post_update' post.id %}" method="GET">
                {% csrf_token %}
                <button class="edit">Edit</button>
              </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var options = {
            alignment: 'right',
            coverTrigger: false
        };
        var instances = M.Dropdown.init(elems, options);
    });
</script>
