{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
    <container class="post-container">
        <section class="top-left-post">
            <div class="user_container">@{{post.user}}</div>
        </section>
        <section class="top-right-post">
            <div class="price_container">{{ post.price }}</div>
        </section>
        <section class="middle-post">
            <div class="img-container"><img class="post-img" src="{{ post.url }}">  </div>
        </section>
        <section class="bottom-left-post">
            <div class="title">{{post.title}}</div>
            <div class="description_container">{{ post.description }}</div>
        </section>
        <section class="bottom-right-post">
            <div class="likes_container">{{ post.likes }}</div>
            <form action="{% url 'post_update' post.id %}" method="GET">
                <button>Edit</button>
            <form action="{% url 'post_delete' post.id %}" method="GET">
                <button>Delete</button>
            </form>
            <a href="{% url 'tags' tags=post.tags %}"><p>#{{ post.tags }}</p></a>
        </section>
    </container> 
    {% endfor %}
{% endblock %}
    

