{% extends 'base.html' %}



{% block content %}

<div class="explore-body">

    {% for post in posts reversed %}
    
    <div class="explore-container">
        <div class="img-container"><img src="{{ post.url }}">  </div>
        <div class="user_container">@{{post.user}}</div>
        <div class="title">@{{post.title}}</div>
        <div class="description_container">{{ post.description }}</div>
        <div class="likes_container">{{ post.likes }}</div>
        <div class="price_container">{{ post.price }}</div>
        <div class="tags_container">{{ post.tags }}</div>
    </div> 
</div>
    {% endfor %}
    {% endblock %}
    

