{% extends 'base.html' %}
{% block content %}
    {% for post in inspo %}
    <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ post.primaryImageSmall }}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
              <p class="title is-4">{{ post.title }}</p>
            </div>
          </div>
      
          <div class="content">
            {{ post.description }}
            {{ post.mediu }}
            <br>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
