{% extends 'base.html' %}
{% block content %}
    {% for post in inspo %}
    
        <container class="post-container">
                <div><a href="https://collectionapi.metmuseum.org/public/collection/v1/objects/{{post}}"></a></div>
            <section class="top-left-post">
            </section>
            <section class="middle-post">
                <div class="img-container"><img class="post-img" src="{{ post.primaryImageSmall }}">  </div>
            </section>
            <section class="bottom-left-post">
                <div class="title">{{ post.title }}</div>
                <div class="description_container">{{ post.description }}</div>
            </section>
            <section class="bottom-right-post">
                <div class="likes_container">{{ post.mediu }}</div>
            </section>
        </container> 
    {% endfor %}
{% endblock %}