{% extends 'base.html' %}
{% block content %}


{% for room in all_rooms %}
<div class="col s12 m7">

  <div class="card horizontal">

    <div class="card-stacked">
      <div class="card-content">
        <h2 class="header">Message Room</h2>
        <p>{{ room.name }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'message_room' room_id=room.id %}">Message</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

<section class="message-room">
  <h4>Message Room:</h4>
  <a href="{% url 'message_room' room_id=room.id %}">
    <h5>{{ room.name }}</h5>
  </a>
</section>