{% extends 'base.html' %}

{% block content %}
<container class="msg-page-container">
  <container class="msg-container">
      {% for message in messages %}
        {% if message.sender == request.user %}
        <section class="message-list">
        <article class="message is-link user-msg">
          <div class="message-header">
            <p>You<br>{{ message.timestamp }}</p>
          </div>
          <div class="message-body">
            {{ message.body }}
          </div>
        </article> 
         </section>
        {% else %}
        <section class="rec-message-list">
        <article class="message is-info rec-msg">
          <div class="message-header">
            <p>{{ message.sender }}<br>{{ message.timestamp }}</p>
          </div>
          <div class="message-body">
            {{ message.body }}
          </div>
        </article>
        </section>
        {% endif %}
      {% empty %}
        <p>No messages available.</p>
      {% endfor %}

  </container>
    <form method="POST" class="message-bar" action="{% url 'send_message' receiver_id=receiver.id %}">
      {% csrf_token %}
      <div class="control">
        <textarea name="body" class="textarea is-focused message-textarea" placeholder="Type your message..."></textarea>
      </div>
      <button class="send-btn" type="submit">➤</button>
    </form>
  </container>
{% endblock %}