{% extends 'base.html' %}
{% block content %}

<div class="detail-container">
    
    <div class="post-container">
        <div class="post-image">

            <p><img src="{{ post.url }}" ></p>
        </div>
        <p>{{ post.title }}</p>
        <p>{{ post.price }}</p>
        <p>{{ post.description }}</p>
        <p>{{ post.tags }}</p>
        <p>{{ post.likes.count }}</p>
    
    </div>
    
    <div class="detail-btns">
        <a href="{% url 'post_update' post.id %}">Edit</a>
        <a href="{% url 'post_delete' post.id %}">Delete</a>
    </div>
    
    
    
    
    <div class="comments-containers">
        <h2>Comments</h2>
    
        {% for comment in comments %}
        {{ comment.body }}
        {{comment.user.username}}
        <form action="{% url 'like_comment' post.id comment.id %}" method="POST">
            {% csrf_token %}
            <button>Like
            </button>
            {{ comment.likes }} likes
        </form>
        {% if comment.user == request.user %}
        <form action="{% url 'delete_comment' post.id comment.id %}" method="POST">
            {% csrf_token %}
            <button>Delete</button>
        </form>
        {% endif %}
        {% endfor %}
    
    </div>
    
    
    <div class="add-comment">
    
        <form action="" method="POST">
            {% csrf_token %}
          <textarea name="comment-body" id="" cols="30" rows="10">
        
          </textarea>  
          <br>
          <button type="submit">Add Comment</button>
        
        </form>
    
    
    </div>
</div>

{% endblock %}