{% extends 'base.html' %}
{% block content %}

<div class="detail-container">
    
    <div class="post-container">
        <div class="post-image">

            <p><img src="{{ post.url }}" ></p>
        </div>
        <p>{{ post.title }}</p>
        <p>{{ post.price }}</p>
        <p>{{ post.description }}</p>
        <p>{{ post.tags }}</p>
        <p>{{ post.likes.count }}</p>
    
    </div>
    <div class="dropdown-like-container">
        <form action="{% url 'like_post' post.id %}" method="POST">
            {% csrf_token %}
            {% if post.user_liked is True %}
            <button>
              <span class="icon">
                <i class="fas fa-heart" style="color: #ff0000;"></i>
              </span>
              <div class="likes_container">{{ post.likes }}</div>
            </button>
            {% elif post.user_liked is False %}
            <button>
              <span class="icon">
                <i class="far fa-heart" style="color: #000000;"></i>
              </span>
              <div class="likes_container">{{ post.likes }}</div>
            </button>
            {% endif %}
          </form>
      {% if request.user == post.user %}
      <a class='dropdown-trigger btn drp-menu2' href='#' data-target='dropdown1'>...</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li>
          <form class="edit2" action="{% url 'post_delete' post.id %}" method="POST">
            {% csrf_token %}
            <button class="edit">Delete</button>
          </form>
        </li>
        <li>
          <form action="{% url 'post_update' post.id %}" method="GET">
            {% csrf_token %}
            <button class="edit">Edit</button>
          </form>
        </li>
      </ul>
      {% endif %}


    </div>


    
    
    <div class="comments-containers">
        <h2>Comments</h2>
    
        {% for comment in comments %}
        {{ comment.body }}
        {{comment.user.username}}
        <form action="{% url 'like_comment' post.id comment.id %}" method="POST">
            {% csrf_token %}
            <button>Like
            </button>
            {{ comment.likes }} likes
        </form>
        {% if comment.user == request.user %}
        <form action="{% url 'delete_comment' post.id comment.id %}" method="POST">
            {% csrf_token %}
            <button>Delete</button>
        </form>
        {% endif %}
        {% endfor %}
    
    </div>
    
    
    <div class="add-comment">
    
        <form action="" method="POST">
            {% csrf_token %}
          <textarea name="comment-body" id="" cols="30" rows="10">
        
          </textarea>  
          <br>
          <button type="submit">Add Comment</button>
        
        </form>
    
    
    </div>
</div>

{% endblock %}



